---
    name: Build & maybe upload PyPI package

    on:
      push:
        branches: [main]
        tags: ["*"]
      pull_request:
        branches: [main]
      release:
        types:
          - published
      workflow_dispatch:

    permissions:
      contents: read
      id-token: write

    jobs:
      # Always build & lint package.
      build-package:
        name: Build & verify package
        runs-on: ubuntu-latest

        steps:
          - uses: actions/checkout@v4
            with:
              fetch-depth: 0

          - uses: hynek/build-and-inspect-python-package@v2

      # Upload to Test PyPI on every commit on main.
      release-test-pypi:
        name: Publish in-dev package to test.pypi.org
        environment: release-test-pypi
        if: github.repository_owner == 'second-ed' && github.event_name == 'push' && github.ref == 'refs/heads/main'
        runs-on: ubuntu-latest
        needs: build-package

        steps:
          - name: Download packages built by build-and-inspect-python-package
            uses: actions/download-artifact@v4
            with:
              name: Packages
              path: dist

          - name: Upload package to Test PyPI
            uses: pypa/gh-action-pypi-publish@release/v1
            with:
              repository-url: https://test.pypi.org/legacy/

      # Upload to real PyPI on GitHub Releases.
      release-pypi:
        name: Publish released package to pypi.org
        environment: release-pypi
        if: github.repository_owner == 'second-ed' && github.event.action == 'published'
        runs-on: ubuntu-latest
        needs: build-package

        steps:
          - name: Download packages built by build-and-inspect-python-package
            uses: actions/download-artifact@v4
            with:
              name: Packages
              path: dist

          - name: Upload package to PyPI
            uses: pypa/gh-action-pypi-publish@release/v1

      publish_sphinx_docs:
        runs-on: ubuntu-latest
        needs: release-pypi
        permissions:
          contents: write
        steps:
          - uses: actions/checkout@v4

          - name: Install uv
            uses: astral-sh/setup-uv@v5
            with:
              enable-cache: true
              cache-dependency-glob: "uv.lock"

          - name: Install the project
            run: uv sync --dev

          - name: Sphinx build
            run: |
              uv run sphinx-apidoc -o docs/source src/papertrail/ --separate
              uv run sphinx-build docs/source docs/docs-build/html
          - name: Deploy
            uses: peaceiris/actions-gh-pages@v3
            with:
              publish_branch: gh-pages
              github_token: ${{ secrets.GITHUB_TOKEN }}
              publish_dir: docs/docs-build/html
              force_orphan: true
